<div id="transport-<%= transport.id %>" class="listed-block shadow-right-bottom rounded-8">
	<span class="name left"><%= link_to transport.name, transport %></span>
	
	<span class="right">
	<% unless transport.transport_mode_is?(:bike_sharing) %>
			<%= link_to t('actions.lines.see'), transport_lines_path(transport) %>
	<% end %>
	</span>
</div>