<div class="new-station inlined">
	<h2><%= t('stations.index.title') %></h2>
	<h3><span>+</span><%= link_to t('stations.new.title'), new_line_station_path(station_line) %></h3>
</div>

<% if station_line.stations.empty? %>
	<%= t('stations.index.no_records') %>
<% else %>
	<%= render station_line.stations %>
<% end %>

