<div class="sub-header">
	<h1><span class="transport"><%= @agrouper.transport.name %></span> - <span class="line"><%= @agrouper.name %></span> </h1>
	<span class="name-by-directions"><%= @agrouper.name_by_directions %></span>
</div>