<div class="sections">
	<%= link_to Transport.model_name.human.pluralize, transports_path , :class => "rounded-5" %>
	<%= link_to Line.model_name.human.pluralize, lines_path , :class => "rounded-5" %>
	<%= link_to Traversal.model_name.human.pluralize, traversals_path, :class => "rounded-5" %>
</div>