<div class="hidden color-h"><%= line.color %></div>
<div class="sub-header colorable">
	<h1><span class="transport"><%= line.transport.name %></span> - <span class="agrouper"><%= line.name %></span> </h1>
	<span class="name-by-directions"><%= line.name_by_directions %></span>
</div>