<div class="hidden color-h"><%= agrouper.color %></div>
<div class="sub-header colorable">
	<h1><span class="transport"><%= agrouper.transport.name %></span> - <span class="agrouper"><%= agrouper.name %></span> </h1>
	<span class="name-by-directions"><%= agrouper.name_by_directions %></span>
</div>