<h1><%= t('vehicles.index.title') %></h1>

<p class="section-button"><%= link_to t('actions.vehicles.add'), new_vehicle_path %></p>

<div class="main-content">
	<% if @vehicles.empty? %>
		<%= t('vehicles.index.no_records') %>
	<% else %>
		<%= render @vehicles %>
	<% end %>
</div>