/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/
html { background-color:#C9E1F0 }

body {
	width:850px;
	margin:0 auto;
	margin-top:30px;
}

a {
	color: black;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.hidden {
	display:none;
}

.to-right {
	float: right;
}

.shadow-on-borders {
	-moz-box-shadow: 0 0 5px #888;
	-webkit-box-shadow: 0 0 5px #888;
	box-shadow: 0 0 5px #888;
}

.shadow-right-bottom {
	-moz-box-shadow: 0 1px 3px #CBCBCB;
	-webkit-box-shadow: 0 1px 3px #CBCBCB;
	box-shadow: 0 1px 3px #CBCBCB;
}

.rounded-5 {
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.rounded-8 {
	border-radius: 8px;
	-moz-border-radius: 8px;
}

.inlined * {
	display: inline-block;
	margin-right: 10px;
}

#header {
	width:850px;
	height:30px;
}

.message {
	margin-top: 10px;
	font-weight: bold;
	width:800px;
	padding: 6px 20px;
	display: none;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

#notifications {
	background-color: #529965;
	color: #B1E1BD;
}

#alerts {
	background-color: #99413E;
	color: #E1878D;
}

#content { 
	width:850px;	
	margin-top:-20px;
	background-color: white;
}

.inter {
	margin: 30px;
}

.inter h1 {
	padding-top: 40px;
}

.inter-footer {
	margin-bottom: 0px;
	background-color: #696969;
	padding: 10px;
	font-weight: bold;
}

.inter-footer a {
	color: #CDCDCD;
}

.inter-footer a.modify {
	color: black;
}

.inter-header {
	width: 830px;
	position: absolute;
	background-color: black;
	color: white;
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	padding: 10px;
} 

.main-content {
	margin-top: 20px;
	text-align: center;
}

.section-button {
	position: relative;
	top: -30px;
	text-align: right;
}

.section-button a:hover {
	color: black;
	text-decoration: underline;
}

.section-button a {
	text-decoration: none;
	color: #696969;
	font-weight: bold;
}

.sections {
	float: right;
}

.sections a:hover {
	background-color:#FFF;
}

.sections a {
	padding: 10px;
	background-color: #DFECF2;
	font-weight: bold;
	font-size: 13px;
	text-decoration: none;
	color: black;
}

.simple-form:hover {
	background-color: #F2F2F2;
	border: 1px solid #E2E2E2;
}

.simple-form {
	padding: 15px;
	background-color: #F6F6F6;
	border: 1px solid #F6F6F6;
	margin-bottom: 10px;
}

.simple-form label {
	display: block;
	font-weight: bold;
	color:#454545;
	margin-top: 10px;
	margin-bottom: 3px;
}

.attr-display {
	margin-right: 10px;
	font-weight: bold;
}

.block {
	margin-top: 30px;
}

.listed-block:hover {
	background-color: #B59CE9;
	border: 2px solid #7E5BA9;
}

.listed-block {
	background-color: #E9E9E9;
	border: 2px solid #A9A9A9;
	padding: 12px;
	margin-bottom: 10px;
	height: 18px;
}

.listed-block a {
	color: #585858;
}

.listed-block .separated {
	margin-right: 50px;
}

.listed-block .left {
	font-size: 16px;
	font-weight: bold;
	float: left;
}

.listed-block .right {
	float: right;
	font-weight: bold;
	font-size: 12px;
}

.twitter {
	font-weight: bold;
	color:#516DC0;
}

.section-name {
	font-weight: bold;
	font-size: 16px;
}

.sub-header {
	width: 300px;
	padding: 5px;
	background-color: #B7F6C5;
	text-align: center;
}

.sub-header h1 {
	font-size: 20px;
}

.upper-50 {
	margin-top: -50px;
}

.new-way-form, .extended-form {
	display: none;
}

.extended-form {
	width: 680px;
	margin-left: auto;
	margin-right: auto;
	background-color: #EEE;
	padding: 10px;
}

.station:hover {
	border: 1px solid #BFBFBF;
	background-color:#F2F2F2;
}

.station {
	border: 1px solid #E5E5E5;
	padding: 5px 1px 2px 1px;
	margin: 4px 3px;
	display: inline-block;
}

.station .actions:hover {
	background-color:#E7E7E7;
	border: 1px solid #DADADA;
}

.station .actions {
	padding: 2px;
	background-color:#F4F4F4;
	border: 1px solid #ECECEC;
}

.arrow-right, .arrow-left {
	position: relative;
	height: 25px;
	width: 25px;
	top: 8px;
}

.arrow-right {
	background-image:url('arrow-right.png');
}

.arrow-left {
	background-image:url('arrow-left.png');
}

.segment span {
	font-weight: bold;
}

.segment .direction {
	font-size: 14px;
}