.station:hover, .segment:hover {
	border: 1px solid #BFBFBF;
	background-color:#F2F2F2;
}

.segment { 
	display: block;
	height: 30px;
}

.segment span {
	margin-top: 2px;
	margin-left: 10px;
}

.segment .origin {
	width: 240px;
}

.segment .actions, .connection .actions { float: right; }

.station { 
	display: inline-block;
	width: 320px;
}

.connection p { margin: 0px; font-size: 11px }

.connection:hover { background-color:#D5D5D5 }
.connection {
	padding: 5px 1px 9px 1px;
	margin: 4px 6px;
	border-bottom: 1px solid #CFCFCF;
}

.station, .segment {
	border: 1px solid #E5E5E5;
	padding: 5px 1px 2px 1px;
	margin: 4px 3px;
}

.station .actions:hover, .segment .actions:hover {
	background-color:#E7E7E7;
	border: 1px solid #DADADA;
}

.station .actions, .segment .actions {
	padding: 2px;
	background-color:#F4F4F4;
	border: 1px solid #ECECEC;
}

.arrow-right, .arrow-left {
	position: relative;
	height: 25px;
	width: 25px;
	top: 8px;
}

.arrow-right {
	background-image:url('arrow-right.png');
}

.arrow-left {
	background-image:url('arrow-left.png');
}

.segment span {
	font-weight: bold;
}

.segment .direction {
	font-size: 14px;
}

.block h3 a, .block h3 {
	color: #A5A5A5;
}

.block h3:hover,.block h3 a:hover {
	color: #484848;
}

.block h3 {
	float: right;
	background-color: #D5D5D5;
	padding: 5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
}

.traversal-basic {
	background-color:#D3DEB9;
	float: right;
	top: -30px;
	position: relative;
	clear: both;
	width: 250px;
	padding: 15px;
	font-size: 10px;
}

.traversal-basic .item { 
	display: block;
	text-align: right;
}